@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@layer utilities {
    .scrollbar {
        color: rgba(0, 0, 0, 0);
        transition: color .2s ease;
    }

    .scrollbar::-webkit-scrollbar,
    .scrollbar::-webkit-scrollbar-thumb {
        width: 24px;
        border-radius: 50px;
        background-clip: padding-box;
        border: 10px solid transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px;
    }

    .scrollbar:hover {
        color: rgba(0, 0, 0, 0.3);
    }
}